/*******************
Here is the css for contact.html
********************/

body {
	text-align: left;
	color: white;
	background-image: url("background.jpg");
}

h1 {
	font-size: 500%;
	text-align: center;
}

img {
	height: 3%;
	width: 3%;
}

li {
	font-size: 300%;
}

a {
	color: white;
}