/*******************
Here is the css for index.html
********************/

body {
	text-align: center;
	color: white;
	background-image: url("background.jpg");
	/*background-image: linear-gradient(top, #FF5A00, #FFAE00);  */ 
}

h1, h2 {
	font-style: italic;
	font-weight: bolder;
	font-size: 500%;
}

h2 {
	font-size: 300%;
}

figure {
	display: inline-block;
}

figcaption {
	font-size: 150%;
	font-weight: bold;
}

img {
	height: 75%;
	width: 75%;
}