#project-h1 {
    font-size: 200%;
    text-align: center;
}

.project-element {
    display: inline-block;
    width: 18%;
    height: 13%;
    vertical-align: top;
    text-align:center;
    margin: 30px;
}

.name {
    display: inline;
    font-size: 140%;
}

.project-element img {
    width: 100%;
    height: 200px;
    display: block;
}